<!-- 1.所有的数据,都需要判断其数量,以便填充表格时能够确保样式和对应数据的准确性 -->

<div>
  <table class="table table-striped table-bordered">

    <tr data-toggle="modal" data-target="#momal-net-cash-flow-of-business-activities">
        <td align=left width = "35%">营业活动现金流量(百万美元)</td>
        <% m = static_data[24].reverse.size %>
        <% (1..5 - m).each do |i| %>
          <td align=center>--</td>
        <% end %>
        <% static_data[24].reverse.each do |i| %>
          <td width = "13%"><%= i %></td>
        <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-net-investment-activities-generated-cash-flow">
      <td align=left>投资活动现金流量(百万美元)</td>
      <% m = static_data[25].reverse.size %>
      <% (1..5 - m).each do |i| %>
        <td align=center>--</td>
      <% end %>
      <% static_data[25].reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-net-financing-activities-generated-cash-flow">
      <td align=left>筹资活动现金流量(百万美元)</td>
      <% m = static_data[26].reverse.size %>
      <% (1..5 - m).each do |i| %>
        <td align=center>--</td>
      <% end %>
      <% static_data[26].reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

  </table>
</div>

  <%= render :partial => "//stocks/main_finance_table_modal_3", :locals => { :static_data => static_data, :time => 5, :stock => @us_stock} %>
