<div class="wrapper">

  <div class="col-lg-8 col-md-offset-2">
    <%= form_tag contrast_search_path, :method => :get  do %>
      <div class="input-group">
        <input class="search-v1 form-control" type="saerch1" name="q" value="<%= params[:a] %>" placeholder="股票代码\名称..." required="required" autocomplete="off">
        <span class="input-group-addon" id="basic-addon1">VS</span>
        <input class="search-v1 form-control" type="saerch2" name="q" value="<%= params[:b] %>" placeholder="股票代码\名称..." required="required" autocomplete="off">
        <span class="input-group-addon" id="basic-addon1">VS</span>
        <input class="search-v1 form-control" type="saerch3" name="q" value="<%= params[:c] %>" placeholder="股票代码\名称..." autocomplete="off">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">开始对比</button>
        </span>
      </div>
    <% end %>
  </div>





















</div>
