<!-- 营业活动现金流量 -->
<div class="modal fade" id="momal-net-cash-flow-of-business-activities" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">营业活动现金流量</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[24] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A3-1、营业活动现金流量</h4>
        <p><strong>经营活动现金流量：正数越多，公司赚得钱越多。</strong></p>
        <blockquote>
          <p>经营活动现金流量是正数，说明公司真真正正赚进的现金；</p>
          <p>当公司的经营活动现金流量是负数，说明公司在经营活动中真正亏损了多少现金。</p>
        </blockquote>
        <br>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/13"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 投资活动现金流量 -->
<div class="modal fade" id="momal-net-investment-activities-generated-cash-flow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">投资活动现金流量</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[25] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A3-2、投资活动现金流量</h4>
        <p><strong>投资活动现金流量：负数越多，投资越多，通常说明公司看好本行业前景</strong></p>
        <blockquote>
          <p>当公司的投资活动现金流量是正数，说明公司正在卖出资产，才会有资金流入公司；</p>
          <p>当公司的投资活动现金流量是负数，说明公司可能新购了设备或厂房，以便扩大生产。</p>
        </blockquote>
        <br>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/13"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 筹资活动现金流量 -->
<div class="modal fade" id="momal-net-financing-activities-generated-cash-flow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">筹资活动现金流量</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[26] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A3-3、筹资活动现金流量</h4>
        <p><strong>筹资活动现金流量：公司借钱或还钱的情况。</strong></p>
        <blockquote>
          <p>当公司的筹资活动现金流量是正数，说明公司通货银行借到钱，或股东增加了投资；</p>
          <p>当公司的筹资活动现金流量是负数，说明公司对银行还款，或给股东分红。</p>
        </blockquote>
        <br>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/13"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
