<!-- G-1、红利发放日 -->
<div class="modal fade" id="momal-dividend-date" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">红利发放日</h5>
      </div>
      <div class="modal-body">
        <h4>G-1、红利发放日</h4>
        <p><strong>指股东获得股息那一天的日期，也叫“除权除息日”。</strong></p>
        <p>股东所获得的分红，则是从上一年度企业的利润留存中按照持股比例进行派发的。</p>
        <blockquote>
          <p>例如：分红发放日是2018年8月24日，这一天所获得的分红，来源于2017年度的企业利润。</p>
          <p>公司想要给股东分红必须满足两个条件：第一、公司当年有利润（税后净利）；第二，已经把以前年度亏损补上。可见，分红的前提，是公司能赚钱。</p>
        </blockquote>
        <br>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/24"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- G-2、分红金额 -->
<div class="modal fade" id="momal-dividend-amount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">分红金额 / 派息</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[sd1] %>
        <%= line_chart(
          stock.modal_dividends_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>G-2、分红金额 / 派息</h4>
        <p><strong>一般习惯于使用“每10股派息××元”来描述分红。</strong></p>
        <blockquote>
          <p>例如：上海机场“每10股派息4.4元”，意思就是“每股分红0.44元”。</p>
          <p>如果我们持有1000股上海机场，则可以分到440元（税前）。</p>
        </blockquote>
        <br>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/24"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- G-3、分红率 -->
<div class="modal fade" id="momal-dividend-rate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">分红率(%) / 股利支付率(%)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[sd2] %>
        <%= line_chart(
          stock.modal_dividends_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>G-3、分红率(%)</h4>
        <blockquote>
          <p>分红率 = 全部分红金额 / 净利润</p>
          <p>说白了，就是企业挣来的钱拿几成分给股东？</p>
        </blockquote>
        <h4>分红越多越好吗？</h4>
        <p><strong>判断企业到底是真的在投资好项目？还是纯粹铁公鸡？要观察五年的企业分红状况:</strong></p>
        <ul>
          <li>要注意是否是长期稳定分红的公司。如果是隔三差五或者偶尔脉冲式的发一下，都不是什么好事儿。</li>
          <li>如果企业每年稳定分红，分红金额逐年增加，分红率30%-50%（合格，还算慷慨），分红率50%以上（非常慷慨）。</li>
          <li>分红率低于30%，要判断企业是否处于高速发展中：</li>
          <p>（一）如果企业的毛利率一直保持很高水准（平均60%以上），且税后净率与营业活动现金流量都在逐年增涨，那说明这家企业确实可能处于高速发展阶段。</p>
          <p>（二）如果企业的毛利率不高，且税后净率与营业活动现金流不增长量、也不稳定，那就有铁公鸡的嫌疑。</p>
          <li>如果企业每年稳定分红30%以上，同时又保持高速发展，那就是价值投资的理想型。</li>
        </ul>
        <br>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/24"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
