<br><br><br>

<div class="post-box">

  <!-- 左边消息栏 -->
  <div class="post-box-side">

    <!-- 头像 avatar -->
    <a href="#">
      <img class="media-object img-circle" src="http://placehold.it/36x36&text=No 40x40" alt="...">
    </a>
    <span><h5 class="media-heading">Emilesu.VIP</h5></span>
    <span class="level">近期关注</span>
  </div>

  <!-- 右边信息栏 -->
  <div class="post-box-content">
    <h3>标题标题标题题标题题标题</h3>
    内容. 主营业务: 商务服务设施的投资、经营和管理,包括高档甲级写字楼、商城、公寓等设施的出租及管理,大型展览及配套服务及停车设施服务等。高档酒店经营业务。主营业务: 商务服务设施的投资、经营和管理,包括高档甲级写字楼、商城、公寓等设施的出租及管理,大型展览及配套服务及停车设施服务等。高档酒店经营业务。主营业务: 商务服务设施的投资、经营和管理,包括高档甲级写字楼、商城、公寓等设施的出租及管理,大型展览及配套服务及停车设施服务等。高档酒店经营业务。主营业务: 商务服务设施的投资、经营和管理,包括高档甲级写字楼、商城、公寓等设施的出租及管理,大型展览及配套服务及停车设施服务等。高档酒店经营业务。
  </div>

</div>

<div class="post-box">

  <!-- 左边消息栏 -->
  <div class="post-box-side">

    <!-- 头像 avatar -->
    <a href="#">
      <img class="media-object img-circle" src="http://placehold.it/36x36&text=No 40x40" alt="...">
    </a>
    <span><h5 class="media-heading">Emilesu.VIP</h5></span>
    <span class="level">近期关注</span>
  </div>

  <!-- 右边信息栏 -->
  <div class="post-box-content">
    <h3>标题标题标题题标题题标题</h3>
    内容. 主营业务: 商务服务设施的投资、经营和管理,包括高档甲级写字楼、商城、公寓等设施的出租及管理,大型展览及配套服务及停车设施服务等。高档酒店经营业务。主营业务: 商务服务设施的投资、经营和管理,包括高档甲级写。
  </div>

</div>

<div class="post-box">

  <!-- 左边消息栏 -->
  <div class="post-box-side">

    <!-- 头像 avatar -->
    <a href="#">
      <img class="media-object img-circle" src="http://placehold.it/36x36&text=No 40x40" alt="...">
    </a>
    <span><h5 class="media-heading">Emilesu.VIP</h5></span>
    <span class="level">近期关注</span>
  </div>

  <!-- 右边信息栏 -->
  <div class="post-box-content">
    <h3>标题标题标题题标题题标题</h3>
    内容. 主营业务: 商务服务设施的投资、经营和管理,包括高档甲级写字楼、商城、公寓等设施的出租及管理,大型展览及配套服务及停车设施服务等。高档酒店经营业务。主营业务: 商务服务设施的投资、经营和管理,包括高档甲级写字楼、商城、公寓等设施服务等。高档酒店经营业务。主营业务: 商务服务设施的投资、经营和管理,包括高档甲级写字楼、商城、公寓等设施的出租及管理,大型展览及配套服务及停车设施服务等。高档酒店经营业务。
  </div>

</div>
