<!-- twitter new/show/edit/destroy功能 -->
<%= render :partial => "//twitters/user_info_twitter", :locals => { :user => @user } %> <br>

<div class="label-title">
<h4>我的笔记<span class="badge pull-right"><%= @user.notes.size %></span></h4>
</div><hr>
<%= render :partial => "//notes/user_info_note", :locals => { :user => @user } %>

<% if @user.notes.empty? %>
  <div class="note-empty">
    <p class="text-center"><i class="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i></p>
    <p class="text-center"><%= @user.username %> 很懒哦，还没写任何笔记……</p>
  </div>
<% end %>
