<!-- 新建 stock -->
<div class="modal fade" id="trade-new" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">创建-交易记录</h5>
      </div>

      <div>
        <ul class="nav nav-tabs nav-justified">
          <li class="active">
            <a href="#tab_trade_1" data-toggle="tab" style="font-size: 14px;">A股</a>
          </li>
          <li>
            <a href="#tab_trade_2" data-toggle="tab" style="font-size: 14px;">美股</a>
          </li>
        </ul>
      </div><br>

      <div class="tab-content">
        <div class="tab-pane active" id="tab_trade_1" style="white-space:nowrap;">
          <%= render :partial => "//trades/trade_new", :locals => { :user => @user } %>
        </div>
        <div class="tab-pane" id="tab_trade_2" style="white-space:nowrap;">
          <%= render :partial => "//us_trades/us_trade_new", :locals => { :user => @user } %>
        </div>
      </div>

    </div>
  </div>
</div>
