<div class="post-show row">
  <div class="col-lg-8 col-lg-offset-2 col-md-12 post-box">

    <div class="post-description row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <%= sanitize markdown @setting.about %>
      </div>
    </div>


  </div>
</div>

<!-- 自定义 title -->
<% content_for :title do %>
  About us -
<% end %>




<!-- 百度自动推送 -->
<script>
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
