<div class="post-show row">
  <div class="col-lg-8 col-lg-offset-2 col-md-12 post-box">

    <div class="post-description row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h4>南宁简而言科技有限公司 - 企业简介</h4> <br>
        <p>简而言科技成立于2018年3月，是一家集大数据采集分析和金融数据分享的创新企业。</p>
        <p>
          公司利用公开大数据、云计算和产品创新，设计出了基于上市公司财务数据为主体的企业价值分析表，
          优化出了更易于财务初学者学习和使用的数据指标简表，可以有效帮助用户分析上市公司的客观经营状况。
          同时研发出配合数据学习使用的财务入门教程和视频产品，以帮助用户快速全面地学习上市公司价值分析方法。
        </p>
        <p>简而言科技将继续整合技术优势，将以十分专注的态度，不断创新，持续领先。公司将努力成为大数据创新领域的优秀企业。</p>
        <hr>
        <h5>联系我们</h5> <br>
        <p>地址：南宁市西乡塘区鲁班南路4号32A1003室</p>
        <p>邮编：530000</p>
        <p>邮箱：emilesu@qq.com</p>
        <br><br><br>
      </div>
    </div>


  </div>
</div>

<!-- 自定义 title -->
<% content_for :title do %>
  企业简介 - 南宁简而言科技有限公司
<% end %>
