<div id="fullpage-landingpage">

    <!-- 第一屏 -->
    <div class="section section1 row">
      <div class="slogan-box text-center">
        <div class="slogan-bg">
          <div class="slogan">
            <h1>
              股票 是将<strong>正确的价值观</strong>变现的最好<strong>工具</strong>
            </h1>
          </div>
        </div>
        <div class="slogan-logo">
          <p>HOLD LE 价值投资获利策略<br><br><br>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>


    <!-- 第二屏 -->
    <div class="section section2 row">
      <div class="section2-info1 col-sm-12">
        <div class="section2-info-slogan">
          <h4>赚不到钱的观念</h4>
          <p>我们总认为，股市是个让财富快速爆发的工具，只要运气好，就能迅速实现梦想的财富自由。</p>
        </div>
        <div class="icon-box">
          <span>
            <img src="http://p4lebvpw1.bkt.clouddn.com/%E7%81%AB%E7%AE%AD" alt="">
            <p> 飞速 </p>
          </span>
          <span>
            <img src="http://p4lebvpw1.bkt.clouddn.com/%E9%97%AA%E7%94%B5" alt="">
            <p> 运气 </p>
          </span>
          <span>
            <img src="http://p4lebvpw1.bkt.clouddn.com/%E7%88%86%E7%82%B8" alt="">
            <p> 爆发 </p>
          </span>
        </div>
      </div>
      <div class="section2-info2 col-sm-12">
        <div class="section2-info-slogan">
          <h4>正确的股市观念</h4>
          <p>但恰恰相反，股市需要的是长久的耐心，准确的行动，点滴的积累，才能不断接近财富自由。</p>
        </div>
        <div class="icon-box">
          <span>
            <img src="http://p4lebvpw1.bkt.clouddn.com/%E6%97%B6%E9%97%B4" alt="">
            <p>时间</p>
          </span>
          <span>
            <img src="http://p4lebvpw1.bkt.clouddn.com/%E6%A2%AF%E5%AD%90" alt="">
            <p>积累</p>
          </span>
          <span>
            <img src="http://p4lebvpw1.bkt.clouddn.com/%E5%8E%9F%E5%88%99" alt="">
            <p>原则</p>
          </span>
        </div>
      </div>
      <div class="section2-info3 col-sm-12">
        <div class="slogan-next">
          <p>NEXT<br><br>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>


    <!-- 第三屏 -->
    <div class="section section3 row">
      <div class="section3-info1">
        <div class="section3-info-slogan">
          <!-- <h4>选股很重要 但如果不交易 哪怕选出的是金子 也没有任何价值</h4> -->
          <h4>自己就可以选出好股票</h4>
          <p>股价短期随机波动，但长期走势是和经营业绩相关。找出快速增长型的企业，就找到了资金增长的那条轨道。</p>
        </div>
      </div>
      <div class="section3-info2">
        <div class="img-box">
          <img src="http://p4lebvpw1.bkt.clouddn.com/%E9%A6%96%E9%A1%B5%20%E8%B4%B5%E5%B7%9E%E8%8C%85%E5%8F%B0%20%E6%95%B0%E6%8D%AE%E4%BB%B7%E6%A0%BC%E5%9B%BE2.jpg" alt="">
        </div>
      </div>
      <div class="section3-info3">
        <div class="slogan-next">
          <p>BUT<br><br>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <!-- 第四屏 -->
    <div class="section section4 row">
      <div class="section4-info1">
        <div class="section4-info-slogan">
          <h4>价值股票的交易时机</h4>
          <p>选股很重要，但如果不去交易，哪怕选出的是金子，也没有任何价值。</p>
        </div>
      </div>
      <div class="section4-info2">
        <div class="img-box">

        </div>
      </div>
      <div class="section4-info3">
        <div class="slogan-next">
          <p>SO<br><br>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>



</div>


<!-- carousel 自动轮播 -->
<script>
  $(function(){
    $('#myCarousel').carousel({
        interval: 4000
    })
  });

  // 上下滚动屏
  $(function(){
    $('#fullpage-landingpage').fullpage({
    });
  });

</script>
