<div class="slogan-box text-center row">

  <div class="slogan-bg">
    <div class="slogan">
      <h1>
        <svg
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="361px" height="67px">
        <text font-family="Futura" fill="rgb(31, 31, 31)" transform="matrix( 7.04822295669518, 0, 0, 7.02833859166858,0.13597453817022, 65.3489163281462)" font-size="12px">HOLD&#32;LE</text>
        </svg>
      </h1>
      <p>
        <svg
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="367px" height="20px">
        <text font-family="Noto Sans S Chinese" fill="rgb(31, 31, 31)" transform="matrix( 1.70893144255311, 0, 0, 1.7041102249472,-0.14433621392061, 17.4367370216696)" font-size="11.736px">&#27491;&#30830;&#36873;&#32929;&#32;&#32;&#24182;&#35753;&#25910;&#30410;&#32763;&#20493;&#30340;&#32929;&#31080;&#20998;&#26512;&#24037;&#20855;</text>
        </svg>
      </p>
    </div>
  </div>

  <!-- 轮播图 950*550-->
  <div id="myCarousel" class="carousel slide">
  	<!-- 轮播（Carousel）项目 -->
  	<div class="carousel-inner">
  		<div class="item active">
  			<img src="https://i.loli.net/2018/03/06/5a9e9567c6cd2.jpg" alt="First slide">
  			<!-- <div class="carousel-caption">标题 1</div> -->
  		</div>
  		<div class="item">
  			<img src="https://i.loli.net/2018/03/06/5a9e9567c6cd2.jpg" alt="Second slide">
  			<!-- <div class="carousel-caption">标题 2</div> -->
  		</div>
  		<div class="item">
  			<img src="https://i.loli.net/2018/03/06/5a9e9567c6cd2.jpg" alt="Third slide">
  			<!-- <div class="carousel-caption">标题 3</div> -->
  		</div>
  	</div>

  </div>

  <!-- 轮播语 -->
  <div id="sloganCarousel" class="carousel slide">
  	<!-- 轮播（Carousel）项目 -->
  	<div class="carousel-inner">
  		<div class="item active">
        <svg
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="450px" height="100px">
        <path fill-rule="evenodd"  fill="rgb(90, 90, 90)"
         d="M-0.000,0.000 L1935.000,0.000 L1935.000,400.000 L-0.000,400.000 L-0.000,0.000 Z"/>
        </svg>
  			<div class="carousel-caption">财务数据分析, 选出绩优股</div>
  		</div>
  		<div class="item">
        <svg
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="450px" height="100px">
        <path fill-rule="evenodd"  fill="rgb(90, 90, 90)"
         d="M-0.000,0.000 L1935.000,0.000 L1935.000,400.000 L-0.000,400.000 L-0.000,0.000 Z"/>
        </svg>
  			<div class="carousel-caption">个股数据对比, 选择不再困难</div>
  		</div>
  		<div class="item">
        <svg
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="450px" height="100px">
        <path fill-rule="evenodd"  fill="rgb(90, 90, 90)"
         d="M-0.000,0.000 L1935.000,0.000 L1935.000,400.000 L-0.000,400.000 L-0.000,0.000 Z"/>
        </svg>
  			<div class="carousel-caption">价值投资教程, 重置投资策略</div>
  		</div>
  	</div>

  </div>


  <!-- 灰色底条 -->
  <div class="slogan-bottom">
  </div>

</div>


<!-- carousel 自动轮播 -->
<script>
  $('#myCarousel').carousel({
      interval: 4000
  })
  $('#sloganCarousel').carousel({
      interval: 4000
  })
</script>
