<div id="fullpage-landingpage">

    <div class="section section1 row">
      <div class="slogan-box text-center">

        <div class="slogan-bg">
          <div class="slogan">
            <h1>
              HOLD LE
            </h1>
            <p>
              正确选股&nbsp&nbsp&nbsp并让收益翻倍的股票分析系统
            </p>
          </div>
        </div>

        <!-- 轮播图 950*550-->
        <div id="myCarousel" class="carousel slide">
        	<!-- 轮播（Carousel）项目 -->
        	<div class="carousel-inner">
        		<div class="item active">
        			<img src="https://i.loli.net/2018/03/06/5a9e9567c6cd2.jpg" alt="First slide">
        			<!-- <div class="carousel-caption">标题 1</div> -->
        		</div>
        		<div class="item">
        			<img src="https://i.loli.net/2018/03/06/5a9e9567c6cd2.jpg" alt="Second slide">
        			<!-- <div class="carousel-caption">标题 2</div> -->
        		</div>
        		<div class="item">
        			<img src="https://i.loli.net/2018/03/06/5a9e9567c6cd2.jpg" alt="Third slide">
        			<!-- <div class="carousel-caption">标题 3</div> -->
        		</div>
        	</div>

        </div>

        <!-- 灰色底条 -->
        <div class="slogan-bottom">
        </div>

      </div>
    </div>

    <div class="section section2 row">
      <div class="section-info">
        <h2>价值复利 时间是最好的朋友</h2>
        <p>测试中:在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在。</p>
      </div>
    </div>

    <div class="section section3 row">
      <div class="section-info">
        <h2>价值复利 时间是最好的朋友</h2>
        <p>测试中:在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在。</p>
      </div>
    </div>

    <!-- <div class="section section4 row">第四屏</div> -->

</div>


<!-- carousel 自动轮播 -->
<script>
  $(function(){
    $('#myCarousel').carousel({
        interval: 4000
    })
  });

  // 上下滚动屏
  $(function(){
    $('#fullpage-landingpage').fullpage({
    });
  });

</script>
