/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require simditor
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome";


html {
  height: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  }

body {
  max-width: 1920px;
  font-size: 12px;
  margin-top: 50px;
  min-height: 100%;                                   // footer固定底部
  display: flex;                                      // footer固定底部
  flex-direction: column;                             // footer固定底部
  .content {
    flex: 1;                                          // footer固定底部
    }
  }

  .navbar {
    border: 0px;
  }

  .navbar-brand {
    img {
      height: 100%;
    }
  }

  .navbar-collapse {
    ul a span img {
      width: 20px;
      height: auto;
    }
  }

  .btn-primary {
    background-color: #333
  }
  .btn-primary:hover {
    background-color: #666
  }


  // footer
  .footer-box {
    background-color: #f5f5f5;
    height: 50px;
    color: #999;
    span {
      position: relative;                    // 垂直居中
      top: 50%;                              // 垂直居中
      transform: translateY(-50%);           // 垂直居中
    }
    a {
      // text-decoration: none;
      color: #999;
      margin: 0 20px;
    }
    .icp {
      margin-left: 20px;
    }
    .site-about {
    }
  }

  // 分页按钮
  .pagination {
    .active {
      a {
        background-color: #333;
        border-color: #333;
      }
      a:hover {
        background-color: #333;
        border-color: #333;
      }
    }
    li {
      a {
        color: #333;
      }
      a:hover {
        color: #333;
      }
    }
  }

// user_show 页面的 nav-pill 样式
.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #333;
    .badge {
      color: #333;
    }
}
.nav-pills > li.active > a:hover {
    background-color: #333;
    color: #fff;
    .badge {
      color: #333;
    }
}
.nav-pills > li > a, .nav-pills > li > a:focus {
    color: #333;
    background-color: #f8f8f8;
    .badge {
      color: #fff;
    }
}
.nav-pills > li > a:hover {
    background-color: #f0f0f0;
    color: #333;
    .badge {
      color: #fff;
    }
}
