/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require simditor
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome";


html {
  height: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  }

body {
  font-size: 12px;
  margin-top: 50px;
  min-height: 100%;                                   // footer固定底部
  display: flex;                                      // footer固定底部
  .content {
    flex: 1;                                          // footer固定底部
    }
  }

  .navbar-brand {
    img {
      height: 125%;
      top: auto;
      bottom: auto;
    }
  }

  .btn-primary {
    background-color: #333
  }
  .btn-primary:hover {
    background-color: #666
  }
