.homeland-index {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100%;
  font-size: 13px;
  a {
    color: #666;
    transition: 0.2s;
  }
  a:hover {
    color: #999;
    transition: 0.2s;
    text-decoration: none;
  }

  // left_info
  .new-homeland-btn {
    border: 1px #777 solid;
    background-color: #777;
    color: #fff;
    transition: 0.2s;
  }
  .new-homeland-btn:hover {
    border: 1px #999 solid;
    background-color: #999;
    color: #f8f8f8;
    transition: 0.2s;
  }

  .all-homeland {
    margin: 25px 0 40px;
    i {
      margin-right: 3px;
    }
  }

  .homeland-categories-list {
    li {
      font-size: 13px;
      list-style: none;
      padding: 9px 0px;
      i {
        color: #f1f1f1;
        margin-right: 3px;
      }
    }
  }

  .dropdown-toggle {
    color: #666;
    transition: 0.2s;
  }
  .dropdown-toggle:hover {
    transition: 0.2s;
  }
  .dropdown-menu {
    li {
      a {
        color: #666;
        font-size: 13px;
        padding: 9px 12px;
        transition: 0.2s;
      }
      a:hover {
        color: #999;
        transition: 0.2s;
        padding: 9px 15px;
        text-decoration: none;
      }
    }
  }


  // mid_info
  .mid-top-btn {
    margin-bottom: 35px;
  }
  .homeland-ul {
    .homeland-li:hover {
      transition: 0.2s;
      background-color: #f3f3f3;
    }
    .homeland-li {
      padding: 15px 10px;
      transition: 0.2s;

      // 头像
      .homeland-user-avatar {
        img {
          width: 40px;
          height: 40px;
        }
      }

      // 信息
      .media-body {
        h4 {
          color: #333;
          font-size: 15px;
          font-weight: 500;
          margin: 0 0 4px 3px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 24px;
          text-align: justify;
        }
        .media-username {
          margin: 0 0 0 3px;
          font-size: 11px;
          color: #aaa;
          font-weight: bolder;
        }
        .media-update {
          margin: 0 0 0 6px;
          font-size: 11px;
          color: #aaa;
          font-weight: normal;
        }
      }

      // <!-- 阅读信息 -->
      .media-info {
        .media-categories {
          padding: 1px 6px;
          margin: 0 10px;
          border-radius: 2px;
          color: #666;
          font-size: 11px;
          background-color: #e8ecf3;
        }
        .media-see {
          padding: 1px 0;
          margin: 0 3px 0 15px;
          color: #aaa;
          font-size: 13px;
        }
      }

    }
  }

}


// homeland-show页面
.homeland-show {
  a {
    color: #888;
    transition: 0.2s;
  }
  a:hover {
    color: #999;
    transition: 0.2s;
    text-decoration: none;
  }
  .jumbotron {
    padding: 30px 20px;
    span {
      font-weight: 600;
      font-size: 15px;
      color: #999;
      text-transform: none;

    }
    h1 {
      font-size: 20px;
      margin: 0;
      font-weight: 500;
      line-height: 1.5em;
      margin: 15px 0 0;
    }
  }
  // 主体
  .homeland-post {
    margin-top: 40px;
    .homeland-post-box {
      margin-bottom: 40px;
      // 头像
      .media-left {
        padding-right:20px;
        img {
          width: 70px;
          height: 70px;
        }
      }
      // 信息
      .media-body {

        .sm-avatar {
          img {
            width: 30px;
            height: 30px;
            margin-right: 20px;
          }
        }
        .post-username {
          font-size: 14px;
          color: #333;
          font-weight: bolder;
        }
        .media-update {
          margin: 0 0 0 8px;
          font-size: 11px;
          color: #aaa;
          font-weight: normal;
        }
        .post-description {
          margin: 20px 0 ;
          font-size: 14px;
          line-height: 1.7em;
          color: #111;
          text-align: justify;
          img {
            width: 100%;
            height: auto;
            margin-bottom: 1.3em;
            border-radius: 3px;
            border: 1px solid #f9f9f9;
          }
          p {
            margin-bottom: 1.5em;
          }
          blockquote {
            font-size: 14px;
            line-height: 1.7em;
            color: #777;
          }
        }
      }

    }
  }

  .homeland-post-right {
    padding-left: 60px;
    // 回复按钮
    .new-homeland-post-btn {
      border: 1px #777 solid;
      background-color: #777;
      color: #fff;
      transition: 0.2s;
    }
    .new-homeland-post-btn:hover {
      border: 1px #999 solid;
      background-color: #999;
      color: #f8f8f8;
      transition: 0.2s;
    }
    span {

      button {
        margin: 10px 0;
        color: #666;
        transition: 0.2s;
        font-size: 13px;
      }
      button:hover {
        transition: 0.2s;
      }
    }
  }

}
