.join-index {
  height: 100%;

  .join-box {
    margin-top: 50px;
    margin-bottom: 30px;

    .h1-title {
      background-color: #222;
      // border-left: 10px solid #333;
      // border-right: 10px solid #333;
      margin-bottom: 50px;
      h1{
        font-weight: 500;
        // text-align: center;
        color: #bfb199;
        font-size: 30px;
        line-height: 40px;
        padding: 20px 0 30px;
      }
      p {
        color: #fff;
        font-size: 14px;
        line-height: 26px;
        span {
          color: #bfb199;
        }
      }
      .join-video {
        // background-color: #222;
        video {
          width: 100%;
          height: auto;
          padding: 20px 10px 15px 10px;
        }
      }
    }

    .join-slogan {
      h2 {
        font-weight: bolder;
        // text-align: center;
        color: #bfb199;
        font-size: 30px;
        // padding-left: 30px;
      }
    }

    .why-join {
      border: 1px solid #eee;
      padding: 10px 10px;
      margin-bottom: 30px;
      .why-join-desc {
        h3 {
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 15px;
          span {
            color: #bfb199;
          }
        }
        p {
          font-size: 14px;
          text-align: justify;
          line-height: 26px;
        }
      }
    }

    .how-to-join {
      background-color: #f9f9f9;
      padding: 70px 0 50px;
      img {
        box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        width: 260px;
        height: auto;
        transition: 0.3s;
      }
      .wx-pay-img:hover {
        box-shadow: 0px 5px 11px 3px rgba(0,0,0,0.2);
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        transition: 0.3s;
      }
      p {
        font-size: 14px;
        text-align: center;
        line-height: 20px;
        span {
          font-size: 28px;
        }
        a {
          text-decoration: underline;
          color: #bfb199;
        }
      }
      h3 {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 15px;
      }
      table {
        font-size: 13px;
      }
    }
    .join-slogan {
      p {
        font-size: 14px;
        span {
          font-size: 16px;
          font-weight: 600;
          color: #bfb199;
        }
      }
    }

  }
}


// 支付二维码页面

.pay_cost{
  font-size: 14px;
  line-height: 40px;
  margin: 50px 0 30px;
  text-align: center;
  // border: 1px solid gainsboro;
  .qr_code {
    margin: 50px;
  }
  .logo_image {
    text-align: center;
    padding: 25px;
    img {
      width: 230px;
      height: auto;
    }
    // background: #f3f3f3;
  }
  .order_detail {
    margin: 0 20px;
    color: #9E9E9E;
  }
  .price{
    font-size: 16px;
    margin-left: 10px;
    color: #0fbf0f;
  }
  .wx_text {
    font-size: 18px;
    margin-left: 0px;
    color: #f56f2e;
  }
  table {
    margin: 0 auto;
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  td {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 7px;
    height: 7px;
  }
  td.black { background-color: #222; }
  td.white { background-color: #fff; }
}

// 成为会员跳转页面
.to_be_member {
  font-size: 14px;
  line-height: 40px;
  margin: 50px 0 30px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
  .to_be_member_p {
    margin: 25px 0 45px;
    p {
      color: #fff;
      strong {
        color: #bfb199;
        font-size: 16px;
      }
    }
  }
  .to_be_member_avatar {
    text-align: center;
    margin: 35px 0 20px;
    img {
      width: 100px;
      height: auto;
    }
    h3 {
      color: #bfb199;
    }
    h4 {
      padding: 30px 0 10px;
      color: #fff;
      font-weight: lighter;
      font-size: 16px;
    }
    hr {
      border: 1px solid #666;
    }
    span {
      a {
        color: #888;
      }
    }
  }
}
