// ------ stock show note部分 ------
.note-box {
  margin-bottom: 25px;
  line-height: 20px;
  text-align: justify;
  a {
    cursor: pointer;
    text-decoration: none;
    color: #333;
  }
  a:hover {
    text-decoration: none;
    color: #6E7B8B;
  }

  .note-box-side {
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    height: 50px;

    .note-left {
      display: -webkit-flex; /* Safari */
      display: flex;
      justify-content: flex-start;

      .note-left-side {
        max-width: 160px;
        padding: 6px 15px;
        img {
          width: 39px;
          height: 39px;
        }
        t {
          color: #999;                //发布时间
        }
      }

      .note-mid-side {
        background-color: #f4f4f4;
        padding: 15px 20px;
      }
    }

    .note-right {
      padding: 10px 15px;
    }
  }

  .note-info {
    span {
      background-color: #f0f0f0;
      padding: 25px 15px 15px;
      font-weight: bold;
      font-size: 16px;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      color: #333;
    }
    a:hover {
      text-decoration: none;
      color: #6E7B8B;
    }
    .note-title {
      background-color: #f0f0f0;
      padding: 25px 65px 15px;
      font-weight: bold;
      font-size: 16px;
    }
    .note-content {
      background-color: #f0f0f0;
      padding: 0px 65px 0px;
      p {
        br{
          display:inline;
          line-height:30px;
        }
      }
    }
  }

}

// ------ user show note部分 ------
.user-note-box {
  margin-bottom: 25px;
  line-height: 20px;
  text-align: justify;
  a {
    cursor: pointer;
    text-decoration: none;
    color: #333;
  }
  a:hover {
    text-decoration: none;
    color: #6E7B8B;
  }

  .note-box-side {
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    height: 40px;

    .note-left {
      display: -webkit-flex; /* Safari */
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .note-left-side {
        padding: 20px 15px;
        font-weight: bolder;
        color: #000;
      }

      .note-mid-side {
        background-color: #f4f4f4;
        padding: 10px 20px;
        margin-left: 10px;
      }
    }

    .note-right {
      a {
        color: #999;
      }
      a:hover {
        color: #333
      }
      color: #999;                //发布时间
      padding: 10px 15px;
    }
  }

  .note-info {
    a {
      cursor: pointer;
      text-decoration: none;
      color: #333;
    }
    a:hover {
      text-decoration: none;
      color: #6E7B8B;
    }
    .note-title {
      background-color: #f0f0f0;
      padding: 25px 15px 15px;
      font-weight: bold;
      font-size: 16px;
    }
    .note-content {
      background-color: #f0f0f0;
      padding: 0px 15px 0px;
      p {
        br{
          display:inline;
          line-height:30px;
        }
      }
    }
  }

}
