.post-show {
  background-color: #f9f9f9;
  height: 100%;
  .post-box {
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    // padding-bottom: 50px;

    .post-title {
      background-color: #222;
      h1 {
        color: #bfb199;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        margin: 80px 0 25px;
      }
    }

    .post-description {
      padding-top: 50px;
      color: #333;
      line-height: 26px;
      text-align: justify;
      font-size: 14px;
      p {
        margin-bottom: 15px;
      }
      a {
        color: #bfb199;
        text-decoration: underline;
        transition: 0.3s;
      }
      a:hover {
        color: #bbb;
        transition: 0.3s;
      }
      .affix
      {
        top:80px;              //设置处于 affix 时候,距离顶部的位置
        max-width: 220px;
      }
      blockquote {
        color: #999;
        font-size: 14px;
        text-align: justify;
        p {
          margin-bottom: 10px;
        }
      }
      img {
        border: #f5f5f5 solid 5px;
        width: 100%;
        height: auto;
      }
      hr {
        margin: 40px 0;
      }
      h4 {
        margin: 30px 0 15px;
      }
      video {
        width: 100%;
        height: auto;
        // padding-bottom: 10px;
      }

      // 非会员是
      .nonmember-post {
        margin: 30px 0;
        h3 {
          font-weight: 600;
          font-size: 20px;
          span {
            color: #bfb199;
          }
        }
      }
    }

    .post-catalog {
      margin-top: 50px;
      padding: 30px 0;
      background-color: #222;
      color: #fff;
      h3 {
        color: #bfb199;
      }
      ul {
        li {
          margin: 8px 0;
          font-size: 14px;
          list-style-type: none;
          a {
            color: #bfb199;
            text-decoration: none;
            transition: 0.3s;
          }
          a:hover {
            color: #fff;
            transition: 0.3s;
          }
        }
      }
    }

  }
}
