// * {box-sizing: border-box;}
// body{margin: 0;}
// div.search {padding: 30px 0}
#form-rearch{
  form {
    position: relative;
    width: 250px;
    margin: 0 auto;
    color: #fff;
  }
}

// .d3 {background: #F9F0DA;}
.d3 form {
  background: #333;
}
.d3 input, .d3 button {
  border: none;
  outline: none;
  background: transparent;
}
.d3 input {
  width: 100%;
  height: 34px;
  padding-left: 15px;
}
.d3 button {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d3 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
