// http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html?^%$         flex 布局参考

// ------ stock show 数据部分 ------
.wrapper {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;

  margin-top: 50px;
  color: #333;

  table {
    text-align: right;
    .theader-style {
      font-weight: bolder;
      vertical-align: middle;
      text-align: center;
      background-color: #f9f9f9;
    }
    tr:hover {
      cursor: pointer;
    }
  }
}

.industry-list {
  .industry-title {
    font-size: 20px;
    font-weight: bold;
    min-width: 210px;
    .btn-group {
      margin-right: 40px;
      .dropdown-menu {
        background-color: #333;
        line-height: 1.8;
        color: #f9f9f9;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 12px;
        text-align: left;
        background-color: #333;
        li {
          a {
            background-color: #333;
            color: #fff;
            font-weight: normal;
            line-height: 1.8;
            padding: 3px 12px;
          }
          a:hover {
            background-color: #1f1f1f;
          }
        }
      }
    }
  }
  .industry-li {
    white-space: nowrap;     //压缩后不换行
    margin-top: 20px;
    min-width: 210px;
    .industry-li-title {
      padding: 7px 10px;
      margin-right: 35px;
      font-weight: bold;
    }
    li {
      margin-right: 35px;
      padding: 7px 10px;
      border-radius:5px;
    }
    a {
      text-decoration: none;
      color: #666;
    }
    li:hover {
      background-color: #1f1f1f;
      text-decoration: none;
      color: #f9f9f9;
      // filter:alpha(Opacity=100);
      // -moz-opacity:0.8;
      // transition: 0.4s;
      // border-radius:5px;
    }
  }
  .industry-li-all {
    white-space: nowrap;     //压缩后不换行
    margin-top: 20px;
    min-width: 210px;
    li {
      min-width: 110px;
      margin-right: 10px;
      padding: 7px 12px 7px 10px;
      border-radius:5px;
    }
    a {
      text-decoration: none;
      color: #666;
    }
    li:hover {
      background-color: #1f1f1f;
      text-decoration: none;
      color: #f9f9f9;
      // filter:alpha(Opacity=100);
      // -moz-opacity:0.8;
      // transition: 0.4s;
      // border-radius:5px;
    }
  }
}

.stock-info {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  .table-left {
    flex-grow: 1;
    align-self: flex-end;
  }
  .stock-title {
    flex-grow: 1;
    align-self: flex-start;
    height: 200px;
    h1 {
      margin-top: 0;
    }
    span {
      font-size: 20px;
    }
    .to-finance-btn {
      margin: 20px 0;
    }
    .main_business {
      height:40px;
      overflow:hidden;                  //超出40px高度时隐藏
      span {
        font-weight: bolder;
        font-size: 12px;
      }
      p {
        line-height: 20px;
        text-align: justify;
      }
    }
  }
  .star-stock:hover {
    cursor: pointer;
  }
}

.table-right {
  flex-grow: 1;
}


// ------ stock show post部分 ------
.post-box {
  text-align: justify;

  .post-box-side {
    color: #fff;
    height: 50px;
    background-color: #333;
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
    a, span {
      padding-left: 10px;
    }
    .level {
      background-color: #666;
      margin-left: 30px;
      padding: 17px 16px 16px 16px;
    }
  }

  .post-box-content {
    padding: 10px 0 60px;
    color: #333;
    line-height: 20px;
  }

}
