.trade-box {
  .trade-title {
    margin-bottom: -8px;
  }
  .trade-list-box {
    .trade-list {
      transition: 0.2s;
      margin-bottom: 20px;
      .trade-stock {
        padding: 10px;
        background-color: #f8f8f8;
      }
      .trade-info {
        padding: 10px 10px 2px;
        background-color: #f0f0f0;
        color: #333;
      }
      hr {
        border: #fff 1px dashed;
        margin: 4px 0 10px;
      }
    }
  }
}
