.user-center {
  margin-top: 50px;
  color: #333;
  line-height: 20px;
  text-align: justify;
  a {
    text-decoration: none;
    color: #666;
  }
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }

  .list-unstyled {
    li {
      padding: 7px 12px;
      border-radius:5px;
      // float:left;
    }
    li:hover {
      background-color: #1f1f1f;
      text-decoration: none;
      color: #f9f9f9;
      // filter:alpha(Opacity=100);
      // -moz-opacity:0.8;
      // transition: 0.4s;
      // border-radius:5px;
    }
  }

  .twitters-li {
    margin-bottom: 20px;
    .twitter-box {
      padding: 15px 15px 10px;
      background-color: #f8f8f8;
      .twitter-content {
        margin-bottom: 10px;
      }
      span {
        color: #999
      }
    }

    // collapse 和 collapsing 会是一个连贯的动画效果, 样式保持一致
    .collapse {
      .twitter-edit-destroy {
        padding: 0 15px 10px;
        background-color: #f8f8f8;
        a {
          color: #999
        }
        a:hover {
          color: #333
        }
      }
      .card-body {
        padding: 15px 15px 10px;
        background-color: #f0f0f0;
        .review-box {
          padding: 15px 0 10px;
          img {
            width: 40px;
            height: auto;
          }
        }
      }
    }
    .collapsing {
      .twitter-edit-destroy {
        padding: 0 15px 10px;
        background-color: #f8f8f8;
        a {
          color: #999
        }
        a:hover {
          color: #333
        }
      }
      .card-body {
        padding: 15px 15px 10px;
        background-color: #f0f0f0;
        .review-box {
          padding: 15px 0 10px;
          img {
            width: 40px;
            height: auto;
          }
        }
      }
    }

  }
}
