<div id="fullpage-join-page">

  <div class="section section1 row">
    <div class="section-bg-1">
      <img src="https://i.loli.net/2018/03/31/5abfa33fad030.png" alt="">
    </div>
    <div class="section-text-1">
      <h2>HOLD LE 基础版</h2>
      <div class="section-p-1 col-md-offset-2">
        <p class="col-md-5">
          测试中:在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在。
        </p>
        <p class="col-md-5">
          测试中:在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在。
        </p>
      </div>
    </div>
  </div>

  <div class="section section2 row">
    <div class="">
      <h2>价值复利 时间是最好的朋友</h2>
      <p>测试中:在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在。</p>
    </div>
  </div>

  <div class="section section3 row">
    <div class="">
      <h2>价值复利 时间是最好的朋友</h2>
      <p>测试中:在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在超过100个国家和地区位居游戏榜第一，iPad端也是接近100个第一。在iOS APP榜单中可以查询，《绝地求生》手游iPhone端在。</p>
    </div>
  </div>

</div>


<!-- carousel 自动轮播 -->
<script>

  // 上下滚动屏
  $(function(){
    $('#fullpage-join-page').fullpage({
    });
  });

</script>
