<div class="join-index row">

  <div class="col-lg-8 col-lg-offset-2 col-xs-12 join-box">

    <div class="h1-title">
      <h1>成为 HOLD LE 会员</h1>
    </div>

    <br><br><br>
    <!-- why join? -->
    <div class="row">

      <div class="col-md-6 ">
        <div class="why-join col-xs-12">
          <div class="why-join-img col-sm-3 col-xs-12">
            <img class="center-block" src="https://i.loli.net/2018/10/23/5bce1a50c5c7b.png" alt="">
          </div>
          <div class="why-join-desc col-sm-9 col-xs-12">
            <h3>大苏将成你的 <span>顾问帮手</span></h3>
            <p>成为会员，你可以添加大苏的个人微信，任何关于股票、投资相关的问题，都可以随时联系到我。大苏将知无不言，尽我所能，第一时间帮你解决任何问题。</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="why-join col-xs-12">
          <div class="why-join-img col-sm-3 col-xs-12">
            <img class="center-block" src="https://i.loli.net/2018/10/23/5bce1a50d7ff9.png" alt="">
          </div>
          <div class="why-join-desc col-sm-9 col-xs-12">
            <h3>解锁投资交易课 <span>进阶课程</span></h3>
            <p>除了当前投资交易课“选股策略”、“交易时机”的基础教程内容外，将解锁后续更关键的“交易管理”内容，以及将来更多只面向会员的进阶分享专题。</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="why-join col-xs-12">
          <div class="why-join-img col-sm-3 col-xs-12">
            <img class="center-block" src="https://i.loli.net/2018/10/23/5bce22276ed1a.png" alt="">
          </div>
          <div class="why-join-desc col-sm-9 col-xs-12">
            <h3>开启上涨潜力股 <span>金字塔</span></h3>
            <p>根据我们的选股策略，大苏设计了算法模型，对上万只A股和美股进行智能筛选和排序，帮你快速圈定出最具长期上涨潜力的股票池范围，更节省时间。</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="why-join col-xs-12">
          <div class="why-join-img col-sm-3 col-xs-12">
            <img class="center-block" src="https://i.loli.net/2018/10/23/5bce2749688f4.png" alt="">
          </div>
          <div class="why-join-desc col-sm-9 col-xs-12">
            <h3>更多还在构思中的 <span>未来计划</span></h3>
            <p>我的目标是做成中国最好的股票投资入门和分享社群，让大家摈弃浮躁，用正确的交易意识在投资市场中赚到钱，你的加入也是对我做这件事情的最大支持和鼓励。</p>
          </div>
        </div>
      </div>

    </div>

    <br><br>
    <!-- 微信二维码： -->
    <div class="wechat-rq-code col-md-12">
      <img class="center-block" src="https://i.loli.net/2018/10/23/5bce37fb981c1.jpg" alt="">
      <br><br>
      <p>添加 大苏 的微信：  <strong>emilesu</strong></p>
      <p>通过微信支付 或 红包，支付价格<strong> <span>68</span> </strong>元</p>
      <% if !current_user %>
        <p>把您在本站<strong> <a data-toggle="modal" data-target="#login-modal">注册</a> </strong>的用户名发送给 大苏 就行了</p>
      <% elsif current_user %>
        <p>把您在本站的用户名<strong> <%= current_user.username %> </strong>发送给 大苏 就行了</p>
      <% end %>
      <br><br>
      <div class="join-slogan">
        <p>现在马上加入吧！<span>越早越好！</span></p>
        <p>这一定是你今年 <span>最值得、最便宜、最划算</span> 的一笔知识投资！</p>
      </div>

      <br><br>
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <hr><br><br>
        <h3>HODL LE - 会员计划：</h3>
        <table class="table table-striped table-bordered">
            <thead>
              <td></td>
              <td><strong>计划人数</strong></td>
              <td><strong>加入金额</strong></td>
              <td><strong>截止时间</strong></td>
            </thead>
            <tr>
              <td>第一期 (进行中...)</td>
              <td>60人</td>
              <td>68元</td>
              <td>2018年11月30日 或 集满60人时</td>
            </tr>
            <tr>
              <td>第二期</td>
              <td>100人</td>
              <td>168元</td>
              <td>2018年12月1日起 - 待定  或 集满100人时</td>
            </tr>
            <tr>
              <td>第三期</td>
              <td>100人</td>
              <td>268元</td>
              <td>待定</td>
            </tr>
        </table>
      </div>

    </div>


  </div>
</div>

<!-- 自定义 title -->
<% content_for :title do %>
  加入会员 -
<% end %>
