<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 pay_cost">
  <div class="logo_image row" style="">
    <%= image_tag "http://siweitech.b0.upaiyun.com/cms/2018-01-10-WePayLogo.png"%>
  </div>
  <div style="padding: 20px; ">
    <span class="order_detail">
      订单名称: <span class="price">HOLD LE 会员VIP</span>
    </span><br>
    <span class="order_detail">
      支付金额: <span class="price">￥168</span>
    </span><br>
    <span class="order_detail">
      用户名: <span class="price"><%= current_user.username %></span>
    </span>
  </div>
  <div class="qr_code">
    <table>
      <% @qr.modules.each_index do |x| -%>
        <tr>
          <% @qr.modules.each_index do |y| -%>
            <% if @qr.dark?(x,y) -%>
              <td class="black"/>
            <% else -%>
              <td class="white"/>
            <% end -%>
          <% end -%>
        </tr>
      <% end -%>
    </table>
    <div style="text-align: center; margin:40px 0;">
      <!-- <img src="http://siweitech.b0.upaiyun.com/cms/2018-01-10-%E8%AF%B4%E6%98%8E%E6%96%87%E5%AD%97.png" alt=""> -->
      <span class="order_detail">
        请使用<span class="wx_text">微信扫描二维码</span>完成支付
      </span>
    </div>
  </div>
</div>


  <style>

  </style>
