<div class="col-lg-8 col-lg-offset-2 col-md-12">
  <div class="row">


      <br><h3 class="text-center">发布话题</h3><br>

      <% if current_user && current_user.homeland_role == "可发言" %>
        <%= render "form" %>
      <% else %>
        <br><br>
        <p class="text-center"><i> - <%= current_user.username.split("_")[0] %> 你被禁止发言 - </i></p>    
      <% end %>


  </div>
</div>
