<div class="footer-box hidden-xs">
  <span class="icp pull-left">桂ICP备18001959号 © 2018 HOLDLE All Right Reserved.</span>
  <span class="site-about pull-right">
    <a href="../welcome/about">关于我们</a>
    <a href="">用户协议</a>
    <a href="">您的建议</a>
  </span>
</div>

<div class="footer-box hidden-sm hidden-md hidden-lg">
  <span class="site-about text-center"><p>
    <a href="../welcome/about">关于我们</a>
    <a href="">用户协议</a>
    <a href="">您的建议</a></p>
  </span>
  <span class="icp text-center"><p>桂ICP备18001959号 © 2018 HOLDLE All Right Reserved.</p></span>
</div>
